<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="pl.coderslab" />
	<bean id="helloWorld" class="pl.coderslab.bean.HelloWorld" />
	<bean id="component1" class="pl.coderslab.bean.Component1" />
	<bean id="component2" class="pl.coderslab.bean.Component2" />
	
</beans>
